<div class="container vh-100 d-flex align-items-center justify-content-center p-0">
    <div class="border border-secondary p-5 rounded bg-light">
        <form (submit)="signin()" [formGroup]="loginForm">
            <div class="mb-3">
                <img src="/assets/images/dineazy-logo.png" alt="dineazy logo" class="dineazy-logo" />
            </div>
            <p class="text-danger text-center">{{error}}</p>
            <ui-input-text [type]="'email'" [name]="'email'" [label]="'Email'" [required]="true"
                [errorText]="loginForm.get('email')?.touched && loginForm.get('email')?.hasError('required')?'Email is required' : loginForm.get('email')?.touched && loginForm.get('email')?.hasError('email')? 'Email is invalid':''"
                formControlName="email"></ui-input-text>
            <ui-input-text [type]="'password'" [name]="'password'" [label]="'Password'" [required]="true"
                formControlName="password"
                [errorText]="loginForm.get('password')?.touched && loginForm.get('password')?.hasError('required')?'Password is required':''">
            </ui-input-text>
            <ui-button (onClick)="signin()" [label]="'Sign In'" [disabled]="loginForm.invalid"></ui-button>
        </form>
        <p><a (click)="gotoForgotPasswordPage()"><small>Forgot Password?</small></a></p>
        <hr />
        <p>Not Yet a user? <a (click)="gotoRegisterPage()"><small>Register</small></a></p>
    </div>
</div>